{% extends 'base.html' %}
{% from 'macro.html' import render_flashed_messages %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        {{ render_flashed_messages() }}
        <div class="row">
            {% for eca in ecas %}
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ eca.name }}</h3>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>People Joined</th>
                                </thead>
                                <tbody>
                                    <td>{{ eca.datetime.day.title() }}</td>
                                    <td>{{ eca.datetime.start_time }}</td>
                                    <td>{{ eca.datetime.end_time }}</td>
                                    <td>{{ eca.registration|length }}</td>
                                </tbody>
                            </table>


                                {% if current_user.role.name.lower() == 'teacher' %}
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" href="{{ url_for('take_attendance', eca_name=eca.name.lower()) }}">Take Attendance</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" href="{{ url_for('view_attendance', eca_name=eca.name.lower()) }}">View Attendance</a>
                                    </div>

                                    <div class="col-md-3">
                                        <a class="btn btn-default btn-block" href="{{ url_for('eca.eca_name_edit', eca_name=eca.name.lower()) }}">Edit ECA</a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row justify-content-center">
                                    <div class="col-md-3 col-lg-5">
                                        <a class="btn btn-default btn-block" href="{{ url_for('view_attendance', eca_name=eca.name.lower(), user_id=current_user.id) }}">View Attendance</a>
                                    </div>
                                    <div class="col-md-3 col-lg-5">
                                        <a class="btn btn-default btn-block" href="{{ url_for('eca.quit_eca', eca_name=eca.name.lower()) }}">Quit ECA</a>
                                    </div>
                                </div>
                                {%- endif -%}

                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}