<!DOCTYPE html>

{# Set menu #}
{% if current_user.role.name == 'Teacher' %}
{% set navigation = [(url_for('index'), 'Dashboard', 'chart-pie-35'), (url_for('eca.add_eca'), 'Add ECA', 'simple-add'),
                     (url_for('eca.manage_ecas'), 'Manage ECAS', 'preferences-circle-rotate'), (url_for('eca.notification_eca'), 'Notify Updates', 'notification-70'),
					 (url_for('auth.user_profile'), 'Update Profile', 'circle-09')] %}
{% else %}
{% set navigation = [(url_for('index'), 'Dashboard', 'chart-pie-35'), (url_for('eca.join_eca'), 'Join ECA', 'simple-add'), (url_for('eca.manage_ecas'), 'ECAs Joined', 'notes'),
					 (url_for('auth.user_profile'), 'Update Profile', 'circle-09')] %}
{% endif %}
{# Set menu #}

<html>

<head>

	<title>{{ title }}</title>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='assets/img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/icons/favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/light-bootstrap-dashboard.css?v=2.0.1')| replace('%3Fv%3D2.0.1', '?v=2.0.1') }}" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		{% block sidebar %}
    	<div class="sidebar" data-color="{% if current_user.role.name == 'Teacher' %}blue{% else %}green{% endif %}">


    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
	    	<div class="sidebar-wrapper">
	            <div class="logo">
	                <a href="#" class="simple-text">
	                    ECA Project
	                </a>
	            </div>
	            <ul class="nav">
					{% for href, title, icon in navigation %}
					<li {% if request.path == href %} class="nav-item active"{% endif %}>
						<a class="nav-link" href="{{ href }}">
						    <i class="nc-icon nc-{{ icon }}"></i>
						    <p>{{title}}</p>
						</a>
					</li>
					{% endfor %}

	            </ul>
	    	</div>
    	</div>
		{% endblock %}

    	<div class="main-panel">
			{% block topbar %}

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="#">{{ title }}</a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.logout') }}">
                                    <i class="nc-icon nc-button-power"></i>
                                    <span class="no-icon">&nbsp;&nbsp;Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
			{% endblock %}

			{% block content %}
			{% endblock %}

    	</div>

   </div>

	<!--   Core JS Files   -->
	<script src="{{ url_for('static', filename='assets/js/core/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap-switch.js') }}"></script>
	<!--  Chartist Plugin  -->
	<script src="{{ url_for('static', filename='assets/js/plugins/chartist.min.js') }}"></script>
	<!--  Notifications Plugin    -->
	<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap-notify.js') }}"></script>
	<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
	<script src="{{ url_for('static', filename='assets/js/light-bootstrap-dashboard.js?v=2.0.1')| replace('%3Fv%3D2.0.1', '?v=2.0.1') }}" type="text/javascript"></script>

	{% block custom_script %}{% endblock %}

</body>
</html>