{% extends "base.html" %}
{% import 'macro.html' as render %}
{% from 'macro.html' import render_flashed_messages %}

{% block title %}{{ title }} - ECA{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                {{ render_flashed_messages() }}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="eca_title">{{ eca_name.title() }}</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {{ form.hidden_tag() }}

                            <div class="row">
                                {{ render.render_input(form.eca_name.label, form.eca_name.name, 'col-md-5',  placeholder='Football',
                                autocomplete='true', auto_label=True, errors=form.eca_name.errors, required=True, value=eca.name.title()) }}
                            </div>

                            <div class="row">
                                {{ render.render_input(form.start_time_eca.label, form.start_time_eca.name, 'col-md-5',  placeholder='Football',
                                autocomplete='true', auto_label=True, errors=form.start_time_eca.errors, required=True, value=start_time_eca, type='time') }}

                                {{ render.render_input(form.end_time_eca.label, form.end_time_eca.name, 'col-md-5',  placeholder='Football',
                                autocomplete='true', auto_label=True, errors=form.end_time_eca.errors, required=True, value=end_time_eca, type='time') }}

                            </div>
                            <div class="row">

                                <div class='col-md-4'>
                                    <div class="form-group">
                                        {{ form.day_eca.label }}
                                        {{ form.day_eca(class='form-control') }}
                                    </div>
                                </div>

                                {{ render.render_input(form.location_eca.label, form.location_eca.name, 'col-md-4',  placeholder='Room 1.03',
                                autocomplete='true', auto_label=True, errors=form.location_eca.errors, required=True, value=eca.location) }}

                            </div>
                            <div class="row">

                                {{ render.render_input(form.max_people.label, form.max_people.name, 'col-md-4',  placeholder='12',
                                autocomplete='true', auto_label=True, errors=form.max_people.errors, required=True, value=eca.max_people, type='number', min=1, max=100) }}

                                {{ render.render_input(form.max_waiting_list.label, form.max_waiting_list.name, 'col-md-4',  placeholder='4',
                                autocomplete='true', auto_label=True, errors=form.max_waiting_list.errors, required=True, value=eca.max_waiting_list, type='number', min=0, max=100) }}

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.brief_description_eca.label }}
                                        <input class="form-control" id="{{ form.brief_description_eca.name }}" name="{{ form.brief_description_eca.name }}" type="text" value="{% if eca.brief_description %}{{ eca.brief_description }}{% endif %}"/>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        {{ form.essentials_eca.label }}
                                        <textarea class="form-control" name="{{ form.essentials_eca.name }}" id="{{ form.essentials_eca.name }}">{% if eca.essentials %}{{ eca.essentials }}{% endif %}</textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Update ECA</button>
                            <a class="btn btn-danger btn-fill pull-left" href="{{ url_for('eca.delete_eca', eca_name=eca_name.lower()) }}">Delete ECA</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Students Enrolled in this ECA</h3>
                    </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover" id="students_enrolled">
                                <thead>
                                <tr>
                                    <th>User</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%- for registration in eca.registration -%}
                                    <tr>
                                        <td><a href="{{ url_for('view_attendance', eca_name=eca.name, user_id=registration.user.id) }}">{{ registration.user.first_name }} {{ registration.user.last_name }}</a></td>
                                        <td class="td-actions text-right">
                                            <button id="{{ registration.user.id }}-remove" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {%- endfor -%}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Waiting List of this ECA</h3>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover" id="waiting_list">
                            <thead>
                                <tr>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                            {%- for waiting_list in eca.waiting_list -%}
                                <tr>
                                    <td><a href="{{ url_for('view_attendance', eca_name=eca.name, user_id=waiting_list.user.id) }}">{{ waiting_list.user.first_name }} {{ waiting_list.user.last_name }}</a></td>
                                    <td class="td-actions text-right">
                                        <button id="{{ waiting_list.user.id }}-remove_wl" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <button id="{{ waiting_list.user.id }}-add" type="button" rel="tooltip" title="Add" class="btn btn-success btn-simple btn-link">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            {%- endfor -%}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
<script>

var remove_symbol = $('.btn.btn-danger.btn-simple.btn-link');
var eca = window.location.href.split('/')[window.location.href.split('/').length - 1];
var first_item_waiting_list = $('#waiting_list tr:eq(1)')
var table_to_append = $('#students_enrolled tbody')


    $(document).ready(function() {

    $.ajax({

        type:'GET',
        url:'/api/eca_info',
        timeout:2000,
        dataType: 'json',
        data: 'eca=' + $('#eca_name').val(),
        success: function(data) {
            $('#day_eca').val(data['day'].toLowerCase());
        }

    });

    }
);

remove_symbol.click(function() {

    $.ajax({

                type: 'GET',
                url: '/eca/delete_student/' + eca + '/',
                timeout: 2000,
                dataType: 'json',
                data: 'id=' + this.id.split('-')[0] + '&action=' + this.id.split('-')[this.id.split('-').length - 1],
                success: function (data) {

                }

            });

            $('#' + this.id).parent().parent().fadeOut();



})

// Code to transfer from waiting list to enrolled list

$('#students_enrolled .btn.btn-danger.btn-simple.btn-link').click(function() {

    first_item_waiting_list.find('button:last').remove();
    first_item_waiting_list.appendTo(table_to_append).show('slow');
    first_item_waiting_list = $('#waiting_list tr:eq(1)')

})

</script>

{% endblock %}