{% extends "base.html" %}
{% import 'macro.html' as render %}
{% from 'macro.html' import render_flashed_messages %}

{% block title %}{{ title }} - ECA{% endblock %}

{% block content %}
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        {{ render_flashed_messages() }}
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{{title}}</h4>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                	{{ form.hidden_tag() }}

                                    <div class="row">
                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                {{ form.eca_name.label }}
                                                {{ form.eca_name(class='form-control') }}
                                                {% if form.eca_name.errors %}
                                                {% for error in form.eca_name.errors %} {#- This is to show the errors for individual fields -#}
  			                                        <p class='text-danger'>{{ error }}</p>
		                                        {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="eca_status">Status</label>
                                                <input id='eca_status' name='eca_status' type='text' class='form-control' disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_start_time">Start Time</label>
                                                <input id='eca_start_time' name='eca_start_time' type='text' class='form-control' disabled>
                                            </div>
                                        </div>

                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_end_time">End Time</label>
                                                <input id='eca_end_time' name='eca_end_time' type='text' class='form-control' disabled>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_organiser">Organiser</label>
                                                <input id='eca_organiser' name='eca_organiser' type='text' class='form-control' disabled>
                                            </div>
                                        </div>

                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_organiser_email_address">Organiser's Email Address</label>
                                                <input id='eca_organiser_email_address' name='eca_organiser_email_address' type='text' class='form-control' disabled>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_location">Location</label>
                                                <input id='eca_location' name='eca_location' type='text' class='form-control' disabled>
                                            </div>
                                        </div>

                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_day">Day</label>
                                                <input id='eca_day' name='eca_day' type='text' class='form-control' disabled>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_brief_description">Brief Description</label>
                                                <input id='eca_brief_description' name='eca_brief_description' type='text' class='form-control' disabled>
                                            </div>
                                        </div>

                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label for="eca_essentials">Essentials</label>
                                                <textarea id='eca_essentials' name='eca_essentials' class='form-control' rows="5" disabled style="height: auto;"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_max_people">Students enrolled</label>
                                                <input id='eca_max_people' name='eca_max_people' class='form-control' disabled/>
                                            </div>
                                        </div>

                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label for="eca_max_waiting_list">Waiting List</label>
                                                <input id='eca_max_waiting_list' name='eca_max_waiting_list' class='form-control' disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Join ECA</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

{% endblock %}

{% block custom_script %}
    <script>


        
        $('#eca_name').on('change', function() {

            if (this.value != 'choose') {
                $.ajax({

                    type:'GET',
                    url:'/api/eca_info',
                    timeout:2000,
                    dataType: 'json',
                    data: 'eca=' + $('#eca_name').val(),
                    success: function(data) {
                        $('#eca_day').val(data['day']);
                        $('#eca_organiser').val(data['organiser']);
                        $('#eca_start_time').val(data['start_time']);
                        $('#eca_end_time').val(data['end_time']);
                        $('#eca_location').val(data['location']);
                        $('#eca_brief_description').val(data['brief_description']);
                        $('#eca_essentials').val(data['essentials']);
                        $('#eca_organiser_email_address').val(data['email_address']);
                        $('#eca_status').val((data['status'] == true) ? 'Active' : 'Inactive')

                        if (data['students_enrolled'] == data['max_people']){

                            $('#eca_max_people').val(data['students_enrolled'] + '/' + data['max_people'] + ' (Full)');

                        }
                        else {

                            $('#eca_max_people').val(data['students_enrolled'] + '/' + data['max_people']);

                        }
                        if (data['max_waiting_list'] == 0) {

                            $('#eca_max_waiting_list').val('N/A');
                        }

                        else if (data['students_in_waiting_list'] == data['max_waiting_list']) {

                            $('#eca_max_waiting_list').val(data['students_in_waiting_list'] + '/' + data['max_waiting_list'] + ' (Full)');

                        }

                        else {

                            $('#eca_max_waiting_list').val(data['students_in_waiting_list'] + '/' + data['max_waiting_list']);

                        }
                    }

                });
            }


        });

    </script>
{% endblock %}