{% from 'macro.html' import render_input_register, render_flashed_messages_main %}
{% extends 'base_main.html' %}

{% block form_content %}


		<span class="login100-form-title p-b-34 p-t-27">
			Register
		</span>

		{{ render_input_register(name=form.student_first_name.name, errors=form.student_first_name.errors, placeholder=form.student_first_name.label.text, data_validate='Enter First Name') }}

		{{ render_input_register(name=form.student_last_name.name, errors=form.student_last_name.errors, placeholder=form.student_last_name.label.text, data_validate='Enter Last Name') }}

		{{ render_input_register(name=form.student_username.name, errors=form.student_username.errors, placeholder=form.student_username.label.text, data_validate='Enter Username') }}

		{{ render_input_register(name=form.student_password.name, errors=form.student_password.errors, placeholder=form.student_password.label.text, data_validate='Enter Password', type='password') }}

		{{ render_input_register(name=form.student_email.name, errors=form.student_email.errors, placeholder=form.student_email.label.text, data_validate='Enter Email', type='email') }}

		{{ render_input_register(name=form.student_confirm_email.name, errors=form.student_confirm_email.errors, placeholder=form.student_confirm_email.label.text, data_validate='Confirm your Email', type='email', autocomplete=false) }}

		<div class="container-login100-form-btn">
			<button class="login100-form-btn">
				Sign Up
			</button>
		</div>
		<div class="text-center p-t-90">
			<ul>
				<li><a class="txt1" href="{{ url_for('auth.login') }}">Already have an account? <b>Log in</b></a></li>
				<li><a class="txt1" href="{{ url_for('auth.reset_password') }}">Forgot Password?</a></li>
				<li><a class="txt1" href="{{ url_for('auth.forgot_username') }}">Forgot Username?</a></li>
			</ul>
		</div>

{% block custom_script %}
<script>

	var student_username = document.getElementById('student_username');
	var student_name = document.getElementById('student_first_name');
	var student_last_name = document.getElementById('student_last_name');

    student_name.addEventListener('input', function() {
        student_username.value = student_name.value + '.' + student_last_name.value
    });
    student_last_name.addEventListener('input', function() {
        student_username.value = student_name.value + '.' + student_last_name.value
    });

</script>
{% endblock %}

{% endblock %}