{% from 'macro.html' import render_input_register, render_flashed_messages_main %}
{% extends 'base_main.html' %}

{% block content %}

		<span class="login100-form-title p-b-34 p-t-27">
			Forgot Password
		</span>

		{{ render_input_register(name=form.email.name, placeholder=form.email.label.text, data_validate='Enter Email', type='email') }}

		<div class="container-login100-form-btn">
			<button class="login100-form-btn">
				Submit
			</button>
		</div>
		<div class="text-center p-t-90">
			<ul>
				<li><a class="txt1" href="{{ url_for('login') }}">Go back to <b>Log in</b></a></li>
			</ul>
		</div>
{% endblock %}