{% extends "base.html" %}
{% from 'macro.html' import render_flashed_messages %}

{% block content %}

<div class="content">
            <div class="container-fluid">
                {{ render_flashed_messages() }}
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                                <div class="card-header">
                                    <h2 class="card-title text-center">ECAs Joined</h2>
                                </div>
                                <div class="card-body">
                                    <h3 class="count card-title text-center">{{ Registration.query.filter_by(user=current_user).all()|length }}</h3>
                                </div>

                            </div>
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Overall Attendance</h4>
                            </div>
                            <div class="card-body ">
                                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                            </div>
                            <div class="card-footer ">
                                <div class="legend">
                                    <i class="fa fa-circle text-success"></i> Yes
                                    <i class="fa fa-circle text-danger"></i> No
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="card-title text-center">Your ECAs</h2>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-full-width">
                                        <table class="table table-hover">
                                            <thead>
                                                <th>ECA Name</th>
                                                <th>Day</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Organiser</th>
                                                <th>Location</th>
                                            </thead>
                                            <tbody>
                                                {%- for eca in ecas_joined -%}
                                                <tr>
                                                    <td>{{ eca.eca.name }} {%- if not eca.eca.is_active %} (Inactive) {% endif %}
                                                        {%- if Registration.query.filter_by(eca=eca.eca, user=current_user, in_waiting_list=True).first() %} (In Waiting List) {%- endif -%}</td>
                                                    <td>{{ eca.eca.datetime.day.title() }}</td>
                                                    <td>{{ eca.eca.datetime.start_time }}</td>
                                                    <td>{{ eca.eca.datetime.end_time }}</td>
                                                    <td>{{ eca.eca.user.first_name }} {{ eca.eca.user.last_name }}</td>
                                                    <td>{{ eca.eca.location }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                </div>

                            </div>
                        </div>

                         <div class="card">
                            <div class="card-header">
                                <h2 class="card-title text-center">Your next ECA</h2>
                            </div>
                            <div class="card-body">
                                {% if next_eca %}
                                <div class="table-responsive table-full-width">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ECA Name</th>
                                            <th>Day</th>
                                            <th>Start Time</th>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>{{ next_eca.name }} {%- if Registration.query.filter_by(eca=next_eca, user=current_user, in_waiting_list=True).first() %} (In Waiting List) {%- endif -%}</td></td>
                                                <td>{{ next_eca.datetime.day.title() }}</td>
                                                <td>{{ next_eca.datetime.start_time }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                {% else %}
                                <hr>
                                <h3 class="text-center">There are no active ECAs or you have not registered to an ECA yet.</h3>
                                {% endif %}
                            </div>
                        </div>



                    </div>
            </div>
</div>


{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='assets/custom/counter_from_zero.js') }}"></script>
<script>
    var current_url_array = window.location.href.split('/');

$.ajax({

    type:'GET',
    url:'api/view_attendance_detail/overall/{{ current_user.id }}',
    timeout:2000,
    dataType: 'json',
    success: function(data) {

    if (data['percentage_attendance_true'] == 0 && data['percentage_attendance_false'] == 0) {

        $('#chartPreferences').html('<p class="text-center font-weight-bold">There is no sufficient data to produce the graph</p>');

    }

    else {

        var dataPreferences = {
            series: [
                [25, 20, 20, 25]
            ]
        };

        var optionsPreferences = {
            donut: true,
            donutWidth: 40,
            startAngle: 0,
            total: 100,
            showLabel: false,
            axisX: {
                showGrid: false
            }
        };

        Chartist.Pie('#chartPreferences', dataPreferences, optionsPreferences);

        Chartist.Pie('#chartPreferences', {
            labels: [Math.round(data['percentage_attendance_true']) + '%', Math.round(data['percentage_attendance_false']) + '%'],
            series: [data['percentage_attendance_true'], data['percentage_attendance_false']]
        });
        }
    }

});
</script>
{% endblock %}