{% extends "base.html" %}
{% from 'macro.html' import render_flashed_messages %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        {{ render_flashed_messages() }}
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title text-center">Total ECAs</h2>
                        </div>
                        <div class="card-body">
                            <hr>
                            <h3 class="count text-center">{{ num_ecas_by_user }}</h3>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title text-center">Your next ECA</h2>
                        </div>
                        <div class="card-body">
                            {% if next_eca %}
                            <div class="table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>ECA Name</th>
                                        <th>Day</th>
                                        <th>Start Time</th>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>{{ next_eca.name }}</td>
                                            <td>{{ next_eca.datetime.day.title() }}</td>
                                            <td>{{ next_eca.datetime.start_time }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <hr>
                            <h3 class="text-center">You have no active ECAs or you have not created an ECA yet.</h3>
                            {% endif %}
                        </div>
                    </div>

                </div>

                <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title text-center">Your ECAs</h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-full-width">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ECA Name</th>
                                            <th>Maximum Amount of People</th>
                                            <th>Maximum Amount of People in Waiting List</th>
                                            <th>Day</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>People Joined</th>
                                            <th>Location</th>
                                        </thead>
                                        <tbody>
                                            {%- for eca in ecas_by_user -%}
                                            <tr>
                                                <td>{{ eca.name }} {% if not eca.is_active %} (Inactive) {% endif %}</td>
                                                <td>{{ eca.max_people }}</td>
                                                <td>{{ eca.max_waiting_list }}</td>
                                                <td>{{ eca.datetime.day.title() }}</td>
                                                <td>{{ eca.datetime.start_time }}</td>
                                                <td>{{ eca.datetime.end_time }}</td>
                                                <td>{{ eca.registration|length }}</td>
                                                <td>{{ eca.location }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            </div>

                        </div>
                    </div>

            </div>
            </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='assets/custom/counter_from_zero.js') }}"></script>
{% endblock %}