{% extends "base.html" %}
{% import 'macro.html' as render %}
{% from 'macro.html' import render_flashed_messages %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                {{ render_flashed_messages() }}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="update_profile_title">Update Profile</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                {{ render.render_input(form.username.label, form.username.name, 'col-md-5',  placeholder='John.Doe',
                                autocomplete='true', auto_label=True, errors=form.username.errors, required=True, value=current_user.username.title()) }}

                                {{ render.render_input(form.email.label, form.email.name, 'col-md-5',  placeholder='johndoe@company.com',
                                autocomplete='true', auto_label=True, errors=form.email.errors, required=True, value=current_user.email, type='email') }}

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input name="first_name" id="first_name" class="form-control" type="text" value="{{ current_user.first_name }}" disabled>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input name="last_name" id="last_name" class="form-control" type="text" value="{{ current_user.last_name }}" disabled>
                                    </div>
                                </div>

                            </div>
                            <h3>Change Password</h3>
                            <hr>
                            <div class="row">

                                {{ render.render_input(form.old_password.label, form.old_password.name, 'col-md-4', auto_label=True, errors=form.old_password.errors, type='password') }}

                            </div>

                            <div class="row">

                                {{ render.render_input(form.new_password.label, form.new_password.name, 'col-md-4', auto_label=True, errors=form.new_password.errors, type='password') }}

                                {{ render.render_input(form.confirm_password.label, form.confirm_password.name, 'col-md-4', auto_label=True, errors=form.confirm_password.errors, type='password') }}

                            </div>


                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}